.single-view {
    footer.buttons {
        justify-content: flex-start;
        flex-direction: row-reverse;
        button {
            margin: 2px 5px;
            clear: both !important;
            font-size: 12px;
            padding-top: 7px;
            padding-bottom: 7px;
            max-width: 200px;
            min-width: 200px;
        }
    }
    .singleview-back-btn {
        background: #fff;
    }
    .panel-heading *{
        font-size:1.86rem !important;
    }
}

.list-view {
    display: flex;
    flex-direction: column;
    flex: 1;
    .main-content {
        display: flex;
        flex-direction: column;
        .data-items {
            flex: 1;
            display: flex;
            flex-direction: column;
        }
    }
    header.navigator {
        display: flex;
        position: relative;
        min-height: 30px;
        button {
            color: #BCBCBC;
            font-size:1.7rem;
            .svg-icon{
                margin: 0 0.5rem;
            }
        }
    }
    .search-field {
        justify-self: flex-end;
        position: absolute;
        top: 2px;
        left: 10px;
        svg {
            position: absolute;
            left: 0px;
            top: -5px;
            width: 32px !important;
            height: 32px !important;
        }
    }
    footer.buttons {
        margin-top: 5px;
        justify-content: flex-end;
        button {
            max-width: 150px;
            min-width: 150px;
            margin: 2px 5px;
        }
        .is-link {
            background: none;
            color: #000;
            max-width: 24px;
            min-width: 24px;
            float: left;
        }
    }
    .filter-panel {
        .MuiPaper-root{
            padding:5px 4rem;
        }
    }
}

.list-view-header {
    display: flex;
    flex-wrap: wrap;
    .insert-btn {
        background: #068CD4 100%;
        min-width: 15.14rem;
        max-width: 15.14rem;
        min-height: 15.14rem;
        max-height: 15.14rem;
        border-radius: 0px;
        margin-right: 20px;
        box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
        .flag {
            position: absolute;
            right: 35px;
            top: 15px;
            font-size: 27px;
            color: black;
            font-weight: bolder;
        }
        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            i {
                font-size: 60px;
                color: white !important;
            }
        }
        .add-text {
            margin: 5px 2px;
            font-size: 1.7rem;
        }
    }
    .buttons {
        width: 100%;
        margin: 25px 2px;
        justify-content: flex-end;
        align-items: flex-start;
        min-height: 60px;
        button {
            background: #FFFFFF;
            border: 0.2rem solid #484A69;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20);
            width: 17rem;
            height: 6.07rem;
            border-radius: 0px;
            padding: 0;
            font-size: 1.71rem !important;
            color: #484A69 !important;
            i {
                font-size: 30px !important;
            }
        }
    }
}

.crud {
    display: flex;
    flex-direction: column;
    flex: 1;
}