.react-grid-Cell {
    border-right: none !important;
}

.pagination {
    margin-top: 5px;
    list-style: none;
    li {
        list-style: none;
    }
}

.full-cell {
    padding: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    .react-grid-Cell__value {
        position: initial !important;
        transform: none !important;
    }
}

.react-grid-HeaderRow {
    left: auto !important;
    right: -2px !important;
}

.react-loading-row {
    position: relative;
    .spinner {
        position: absolute;
        top: 10px;
        right: 7px;
        bottom: 0;
        z-index: 0;
        display: flex;
        z-index: 100000;
    }
}

.field.is-horizontal {
    .label {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.data-list-panel-wrapper {
    width: 100%;
}

.panel-wrapper {
    width: 100%;
}

.data-panel {
    margin-bottom: 5px;
    width: 100%;
    * {
        outline: none;
    }
    .label {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .label:not(:last-child) {
        margin-bottom: 0 !important;
    }
    .field:not(:last-child) {
        margin-bottom: 0rem;
    }
    &.readonly {
        .input {
            background: transparent;
            border: none;
            box-shadow: none;
        }
    }
}

.panel-content {
    border: 1px solid #dbdbdb;
    border-top: none;
    padding: 3px;
}

.field-accessor {
    &.has-error {
        position: relative;
        .label {
            color: #B00020 !important;
            padding: 0 1rem;
        }
        .error-icon {
            position: absolute;
            left: 0.8rem;
            top: 1rem;
            z-index: 1000;
        }
        .control {
            background: rgb(238, 238, 238);
            border-radius: 10px 10px 0 0;
            border-bottom: 2px #B00020 solid !important;
        }
        .MuiInput-underline:after,
        .MuiInput-underline:before {
            display: none;
        }
    }
}

.field {
    width: 100%;
    .control {
        flex: 1;
        display: flex;
        padding: 0;
        position: relative;
    }
    .label {
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    a.op {
        width: 100%;
        right: 0;
        order: 100;
        margin-top: 1px;
        line-height: 13px;
        padding: 0;
        bottom: 0;
        font-size: 1.14rem !important;
        span {
            font-size: 1.14rem !important;
        }
    }
    .messages * {
        font-size: 1rem !important;
    }
}

/*
.react-grid-Cell {
    border-bottom: none !important;
}
.react-grid-Row{
    border-bottom: 1px solid #ddd;
    box-sizing: border-box; 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}*/

.data-list.scrolled {
    overflow: scroll;
    overflow-x: hidden;
    position: relative;
    .data-list-c1 {
        position: absolute;
        left: 0;
        right: 0;
    }
}

.data-list {
    .ms-DetailsRow-cell {
        display: flex;
        align-items: center;
    }
    .pagination-list {
        margin: 0;
    }
}

.data-list-panel-fields {
    footer {
        display: flex;
        justify-content: center;
        button {
            width: 300px;
            margin: 2px;
        }
    }
}

.panel-content {
    padding: 5px 6px;
}

a.close {
    color: #000;
}

.readonly-mode {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.readonly-mode * {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.borderless-input * {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.field {
    flex-wrap: wrap;
    .messages {
        margin: 0px !important;
        text-align: right;
        z-index: 20000;
        min-height: 20px;
        width: 100%;
        order: 100;
    }
    .fa-exclamation-triangle {
        color: orangered;
    }
    &.reversed-label {
        .label {
            order: 1;
            margin: 0;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            display: flex;
        }
        .control {
            order: 0;
        }
    }
    &.reversed-label {
        label.label {
            order: 1;
            margin: 0;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            display: flex;
        }
        .control {
            order: 0;
        }
    }
    &.no-label {
        label.label {
            display: none
        }
    }
}

.invalid-items {
    list-style: circle !important;
    padding: 2px 10px;
}

.error-card {
    .title {
        color: red;
    }
    padding: 10px;
}

.field:not(:last-child) {
    margin-bottom: 0 !important;
}

.invalid-control {
    padding: 0px;
    z-index: 20000;
}

.data-list,
.data-list-c1,
.data-list-content,
.data-list-wrapper {
    flex: 1;
    flex-direction: column;
    display: flex;
    .ms-DetailsHeader {
        height: 5.4rem;
    }
    &.is-large {
        .ms-DetailsHeader {
            line-height: 45px;
            padding: 20px 2px;
            * {
                font-size: 32px !important;
            }
        }
    }
}

.data-list {
    .ms-DetailsRow {
        border-bottom: none !important;
        border-top: none !important;
        border: none !important;
        &.is-selected {
            background: rgba(0, 0, 0, 0.14) !important;
        }
    }
   .row-disabled *{
        color:#aaa;
        cursor: not-allowed;
    }
}

.data-form {
    display: flex;
    flex-wrap: wrap;
    .footer {
        flex: 1;
    }
}

.single-view-callout {
    .column.desc {
        min-width: 300px;
    }
    .column.btn {
        max-width: 100px;
    }
    header {
        color: rgb(20, 200, 20);
    }
}

.critical-content {
    display: contents;
}

.filter-panel .MuiPaper-root {
    flex-direction: column;
    display: flex;
    padding: 5px;
}

.ms-Dialog-main {
    overflow: visible !important;
    overflow-y: visible !important;
}

.c3 {
    direction: ltr;
}

.MuiModal-root {
    z-index: 1000000 !important;
    .MuiPaper-root {
        max-width: initial !important;
    }
}

.MuiPaper-root {
    max-width: initial !important;
}

.MuiDialogContent-root {
    overflow-y: hidden !important;
}

/// reinvent
.dashboard-widget {
    min-height: 100%;
}