.advanced-section.compact {
    .no-message {
        display: none;
    }
}

.title.is-centered {
    display: flex;
    justify-content: center;
}

.advanced-sidebar {
    background: linear-gradient(to bottom, rgb(221, 221, 221) 0%, #eee 100%);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    box-shadow: inset -1px 0px 1px 0px #555;
    padding-top: 20px;
    a {
        min-width: 50px;
        display: flex;
        justify-content: center;
        padding: 10px 0;
    }
}

.ms-Callout-main,
.ms-Callout-beakCurtain {
    overflow: visible !important;
    border-radius: 5px;
}

.ms-Callout-beakCurtain {
    top: -4px;
}

.close-dialog {
    overflow: visible;
    max-height: 0;
    cursor: pointer;
    font-size: 20px;
    margin: 2px 10px;
    color: #555;
}

.checkbox-field {
    .label {
        height: 50px;
        color: rgba(0, 0, 0, 0.6);
        font-weight: normal;
    }
}

.switch-field {
    .label {
        top: 2rem !important;
        right: 60px !important;
        * {
            font-size: 1.71rem !important;
        }
    }
    .MuiSwitch-root {
        width: auto;
        max-width: 62px;
        direction: ltr;
    }
}

.server-side-message {
    display: flex;
    padding: 10px 15px;
    font-size: 16px;
    .fa {
        order: 1;
        color: red;
        max-width: 60px;
        overflow: visible;
    }
    .fa-check-circle {
        color: green;
    }
    p {
        flex: 1;
    }
}

.callout-messsage {
    padding: 10px 3px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.date-picker-content {
    max-width: 36.93rem;
    min-width: 36.93rem;
    padding: 0;
    .heading {
        background: #4AABD5 100%;
        * {
            color: #fff;
            border: none !important;
            background: transparent !important;
        }
        *:hover {
            background: transparent !important;
        }
    }
    .dayWrapper {
        button {
            font-family: Yekan;
            direction: ltr;
        }
    }
}

.MuiModal-root .MuiPaper-root {
    max-width: 100% !important;
}

.c3-line {
    stroke-width: 3px;
}

.checkbox-cell {
    svg {
        width: 24px;
        height: 24px;
    }
}

.svg-icon {
    svg {
        width: 24px;
        height: 24px;
    }
}

/**  STYLE 11 */

/*
.data-list-c1::-webkit-scrollbar {
    visibility: hidden;
}
*/

/*

.scroller::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
    visibility: visible;
} 
 
.scroller {
    overflow-y: scroll !important;
    -webkit-background-clip: text;
     transition: background-color .8s;
}

.scroller::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}

 
.scroller::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(left, #fff, #F5F5F5);
    border: 1px solid #aaa;
}

.scroller::-webkit-scrollbar-thumb:active {
    background: linear-gradient(left, #22ADD4, #1E98BA);
}
 */

/*
.scroller {
    &::-webkit-scrollbar {
        height: 8px;
        width: 6px;
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background:#000;
        border: 1px solid #ccc;
    }
    &::-webkit-scrollbar-track-piece {
        background: #F0F0F0;
    }
    &::-webkit-scrollbar-thumb:vertical,
    &::-webkit-scrollbar-thumb:horizontal {
        background: #E5E5E5;
        border-radius: 20px;
    }
}
*/

.i18n.en {
    font-family: Arial, Helvetica, sans-serif !important;
}

.c3 svg {
    font: 1rem Yekan !important;
}

.icon {
    height: auto;
}

.date-picker-edit input {
    padding-left: 2ch;
}

.data-lookup-field,
.date-picker-field {
    .field.focused:not(.no-material),
    .field.has-value {
        .label {
            top: 0 !important;
        }
    }
}

.scrollable-panel-reversed {
    .scrollBarY {
        direction: ltr;
    }
}

.scrollable-panel {
    display: flex;
    flex-direction: row !important;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
    .scrollBar {
        z-index: 100;
        overflow-y: scroll;
    }
    .scrollBarX {
        position: absolute;
        bottom: 0px;
        left: 7px;
        right: 7px;
        height: 15px;
        z-index: 1000;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .scrollBar {
        visibility: hidden;
    }
    &.after-one-second {
        .scrollBar {
            visibility: visible;
        }
    }
}

.attached-root {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.ms-Callout {
    border-radius: 8px;
}

.ReactJsonSyntaxHighlighter {
    direction: ltr;
    pre {
        font-size: 9pt;
        white-space: normal;
        word-wrap: break-word;
        box-shadow: inset 0px 2px 2px 0px #888;
        padding: 0.5rem 2px;
    }
    .string {
        color: #008000;
    }
    .number {
        color: #008000;
        align-items: center;
        background-color: whitesmoke;
        border-radius: 290486px;
        display: inline-flex;
        height: auto;
        justify-content: none;
        margin-right: auto;
        min-width: auto;
        padding: 0;
        text-align: center;
        vertical-align: top;
    }
    .boolean {
        color: #00f;
    }
    .null {
        color: #f0f;
    }
    .key {
        color: #f00;
    }
}

 


.iconable-label {
    display: flex;
    width: 100%;
    .prefix {
        margin-left: 1rem;
      
    }
    .content{
        flex:1;
        display: flex;
        justify-content: flex-start;
    }
    .icon-wrapper{
        max-width: 2rem;
    }
}