.calendarContainer {
    border-radius: 0px !important;
    box-shadow: none !important;
    border: 0px !important;
    width: 100% !important;
    padding: 0px !important;
}

.date-picker {
    max-width: 350px;
    min-width: 300px;
    .activate-focused-only {
        visibility: visible !important;
    }
    .inner-text {
        display: flex;
        .text {
            order: 1;
            padding: 0px 5px;
        }
        .icon {
            order: 0;
            display: flex;
            align-items: center;
            justify-content: center; // visibility: visible;
        }
    }
    .list-view-container {
        max-width: 300px;
        min-width: 300px;
        width: 300px;
    }
}

 .calendarContainer .dayWrapper.selected button {
    border-radius: 100% !important;
    width: 36px !important;
    height: 36px; 
     
} 