.developer-bar {
    background-color: #eeeeee;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 30 ;
    padding: 2px;
    border-bottom: 2px solid #666;
    button {
        margin: 0 2px;
        border: 1px solid #aaa;
        box-shadow: inner 0 15px 5px #666;
    }
    .framework-version {
        position: absolute;
        right: 30px;
        top: 0;
        height: 40px;
        display: flex;
        align-items: center;
        font-family: Tahoma !important;
        b {
            margin: 0 5px;
        }
        label {
            font-family: Tahoma !important;
        }
    }
}

#dev-server-board {
    background: #555;
    color: #fff;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    display: none;
    padding: 2px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 35px;
    z-index: 200;
}

#dev-server-board.active {
    display: flex;
}
.self-test-fail{
    .json-inspector__search{
        display: none;
    }
    hr{
        margin:2px 0;
    }
}