.filter-panel {
    flex: 1;
    font-size: 2rem;
    footer {
        min-width: 230px;
        margin: 0px;
        padding: 0px;
        padding-bottom: 7px;
        display: flex;
        align-items: center;
        flex: 1;
        justify-items: flex-end;
        flex-direction: row;
        .apply-button {
            border-radius: 0px;
            background: #59D446;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20);
        }
        .adv-button {
            min-width: 6.67rem;
            min-height: 3.92rem;
            font-size: 1.71rem !important;
            margin: 0 0.1rem;
        }  
    }
    .date-picker-field.op-between {
        min-width: 31.8rem !important;
        max-width: 31.8rem !important;
        .alt-input-element{
            margin-right: 0.8rem;
            margin-left: 0rem;
        }
    }
    .data-lookup {
        max-height: none !important;
    }
    .medium-fields .field-accessor {
        margin: 0 0.5rem !important;
        min-width: 17.14rem;
        max-width: 17.14rem;
    }
    &.clearing{
        .field-accessor {
            visibility: hidden;
        }
    }
} 