.login-box {
    box-shadow: 0 0 8px 0 #555;
    background-color: rgba(255,255,255,0.8);
    .block-bg{
        background:rgb(255,190,0);
        position: absolute; 

    }
     .data-form{
        header{
            padding:2.5rem 0;
            display: flex;
            justify-content: center;
            justify-items: center;
        }
    }
    .front{
        display: flex;
        padding:2px 10px;
        flex-direction: column;
        .field{
            margin:0;
             
        }
    }
    .fa {
        color: white !important;
    }
    .title {
        padding: 10px;
     }
    .center{
        display: flex;
        justify-content: center;
        justify-items: center;
    }
    header {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
      
       
    }
    section {
        display: flex;
        flex-direction: column;
    }
      .input.is-primary {
        border: none !important;
        font-size:1.71rem;
    } 
    footer {
        display: flex;
        justify-items: flex-end;
        justify-content: flex-end;
      
    }
    .notification {
        border-radius: 1rem;
    }
  
}
.key-features{
    .icon{
        border-radius: 100%;
        border:1px solid rgb(62, 148, 49) ;
        box-shadow: 0 0 3px rgb(62, 148, 49);
        color:rgb(62, 148, 49) !important;
        background: #fff;
        width:3.29rem;
        height:3.29rem;
        display: flex;
        justify-items: center;
        align-items:center;
        align-content: center;
        justify-content: center; 
    }
    .text{
        margin-top:1rem;
    }
}
article.minimal.master-page {
    background: #f5f5f5;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
body.login-background article{
    background: rgb(249,249,249) url('/assets/images/login-bg.png') center center no-repeat !important;

}