$side-width:280;
body,
html {
    background: rgb(222, 233, 238);
}

main.main-container {
    max-height: 100vh;
    text-align: right;
    padding-right: 6.1rem;
    padding-left: 6.1rem;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 280px);
    >section {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
}

.version-container {
    label {
        margin: 2px 20px;
    }
}

.main-content {
    padding: 4px 4rem;
    footer {
        padding: 10px 2px;
    }
    .panel {
        margin: 10px 2px;
        .panel-heading {
            background: #fff;
            border: none !important;
            display: flex;
            align-content: center;
            align-items: center;
            min-height: 40px;
            .temp {
                flex: 1;
                background: #979797;
                height: 1px !important;
            }
            .title {
                display: flex;
                align-content: center;
                align-items: center;
                background: #fff;
                color: #909090 !important;
                font-weight: normal;
                padding-left: 1rem;
                .icon {
                    display: none;
                }
            }
        }
        .panel-content {
            border: none !important;
            hr {
                visibility: hidden;
                margin: 0;
                padding: 0;
            }
        }
    }
}

.ms-Button--action {
    background: #fff !important;
    border-radius: 7px !important;
}

#root,
.MuiInput-root,
.MuiPaper-root,
label,
input,
button,
span,
aside {
    font-family: Yekan;
}

.master-page {
    display: flex;
    min-height: 100%;
    >footer {
        background: rgb(210, 210, 201);
        position: fixed;
        bottom: 0;
        left: 0;
        height: 40px;
        display: flex;
        align-items: center;
        right: $side-width*1px;
        padding: 0 20px;
        justify-content: flex-end;
        a {
            margin: 0 10px;
            color: #333;
        }
    }
    .router {
        transition: all 0.5s ease;
        min-height: 48px;
        display: flex;
        a,
        .icon {
            padding: 12px 15px;
        }
        a {
            display: block;
            width: 100%;
            font-size: 1.79rem;
            padding: 12px 15px;
        }
    }
    aside {
        transition: all 0.5s ease;
        .content {
            overflow: scroll;
            direction: ltr;
            >* {
                direction: rtl;
            }
        }
        .alt {
            * {
                visibility: hidden;
            }
            a {
                display: none;
            }
            .triangle,
            .router.active {
                visibility: visible !important;
            }
        }
        header {
            margin-bottom: 40px;
            min-height: 160px;
            background: linear-gradient(to bottom, #484A69 0%, rgba(0, 0, 0, 1) 50%, #484A69 100%);
            .user-info {
                font-size: 1.71rem !important;
                display: flex;
                justify-items: center !important;
                flex-direction: row-reverse;
                align-items: center !important;
                align-content: center !important;
                .icon {
                    width: auto !important;
                    margin: 0 5px;
                }
            }
            i.icon {
                width: 100%;
                font-size: 3rem;
            }
            button span {
                display: flex;
                flex-direction: column;
            }
            .column {
                align-content: center;
                align-items: center;
                justify-content: center;
                display: inline-flex;
            }
            .logo {
                display: flex;
                justify-content: center;
                * {
                    font-size: 3.43rem !important;
                }
                span {
                    margin: 2px;
                }
                .start {
                    color: white !important;
                }
                .ng {
                    color: rgb(4, 140, 212) !important;
                }
            }
        }
        footer {
            background: rgb(72, 74, 105);
            z-index: 1000;
        }
        min-width: ($side-width)*1px;
        max-width: ($side-width)*1px;
        background: rgb(72, 74, 105);
        .triangle {
            display: none;
        }
        * {
            color: #fff !important;
        }
        .icon {
            font-size: 20px;
        }
        .router {
            position: relative;
            font-family: 'Yekan' !important;
            min-height: 4.5rem;
            max-height: 4.5rem;
        }
        .content ul {
            margin: 0
        }
        .router.active:active,
        .router.active:hover {
            background: rgb(4, 160, 220) !important;
        }
        .router.active {
            box-shadow: 0 0 4px #333;
            border-top: 0px solid #fff;
            border-right: 1px solid #444;
            border-bottom: 1px solid #444;
            background: rgb(4, 160, 220) !important;
            .triangle {
                display: inline-block;
                position: absolute;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 24px 24px 28px 0;
                border-color: transparent rgb(4, 160, 220) transparent transparent;
                left: -24px;
                z-index: 1000;
            }
        }
        &.switching {
            header * {
                visibility: hidden;
            }
            a,
            span.title {
                word-break: keep-all;
                overflow: hidden;
                max-height: 5rem;
            }
        }
        &.mini {
            max-width: 63px;
            min-width: 63px;
            overflow: hidden;
            .Collapsible__trigger:after {
                display: none;
            }
            a,
            .title {
                display: none;
                padding: 0 !important;
            }
            .router.active {
                min-height: 30px !important;
            }
        }
    }
}

.app-copyright {
    order: -100;
    display: flex;
    flex: 10;
}

button,
.MuiButton-root {
    font-size: 1.71rem !important;
}

.title:not(:last-child) {
    margin-bottom: 0;
}

.page-switching-before .main-container {
    animation: fadeOut2;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

.page-switching-after .main-container {
    animation: fadeInUp;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

.toggle-button {
    width: 4rem;
    right: 5px;
    top: 5px;
    position: absolute;
    z-index: 101;
    display: flex;
}