.field:not(.no-material) {
    position: relative;
    min-height: 50px;
    margin: 5px;
    .label {
        position: absolute;
        top: 2.2rem;
        right: 1.3rem;
        line-height: 1.5rem;
        pointer-events: none;
        padding-left: 0.125rem;
        z-index: 1;
        font-size: 1.7rem !important;
        font-weight: normal;
        white-space: nowrap;
        overflow: visible;
        text-overflow: ellipsis; //   height: 0;
        margin: 0;
        min-width: auto !important;
        max-width: auto !important;
        color: rgba(0, 0, 0, 0.6);
        transform: translateY(-60%);
        transform-origin: left center;
        transition: transform 2s ease, color 1.6s linear, opacity 1.7s linear;
        will-change: transform, color, opacity;
        span {
            padding: 0.2rem 0 !important;
        }
    }
    .control {
        >* {
            width: 100%;
        }
    }
    .ms-TextField-fieldGroup {
        position: relative !important;
        border: none !important;
        display: block !important;
    }
    .ms-TextField-fieldGroup-hint {
        font-weight: 400;
        font-size: 0.6875rem;
        color: rgba(0, 0, 0, 0.6);
        display: block;
    }
    .ms-TextField-suffix {
        position: relative !important;
        height: 1px !important;
        background: #999 !important;
        display: block !important;
    }
    .ms-TextField-suffix::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: #337ab7;
        height: 2px;
        display: block;
        transform: rotateY(90deg);
        transition: transform 0.7s ease;
        will-change: transform;
    }
    .ms-TextField-fieldGroup-label {
        position: absolute;
        top: 0.75rem;
        line-height: 1.5rem;
        pointer-events: none;
        padding-left: 0.125rem;
        z-index: 1;
        font-size: 1rem;
        font-weight: normal;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
        color: rgba(0, 0, 0, 0.6);
        transform: translateY(-50%);
        transform-origin: left center;
        transition: transform 0.28s ease, color 0.28s linear, opacity 0.28s linear;
        will-change: transform, color, opacity;
    }
    .ms-TextField-field {
        outline: none;
        height: 1.5rem;
        display: block;
        background: none;
        padding: 0.125rem 0.125rem 0.0625rem;
        font-size: 1rem;
        border: 0 solid transparent;
        line-height: 1.5;
        width: 100%;
        color: #333;
        box-shadow: none;
        opacity: 0.001;
        transition: opacity 0.28s ease;
        will-change: opacity;
    }
    .ms-TextField-field:-ms-input-placeholder {
        color: rgba(0, 0, 0, 0.6);
        transform: scale(0.9);
        transform-origin: left top;
    }
    .ms-TextField-field::placeholder {
        color: rgba(0, 0, 0, 0.6);
        transform: scale(0.9);
        transform-origin: left top;
    }
    .ms-TextField-field:focus~.ms-TextField-suffix {
        background: yellow
    }
    .ms-TextField-field:focus~.ms-TextField-suffix::after {
        transform: rotateY(0deg);
    }
    .ms-TextField-field:focus~.ms-TextField-fieldGroup-label {
        color: #337ab7;
    } //.ms-TextField-field.-hasvalue,
    .ms-TextField-field.-hasvalue~.ms-TextField-fieldGroup-label,
    .ms-TextField-field:focus~.ms-TextField-fieldGroup-label {
        transform: translateY(-100%) translateY(-0.5em) translateY(-2px) scale(0.9);
        cursor: pointer;
        pointer-events: auto;
    }
    .form-has-error .ms-TextField-fieldGroup-label.ms-TextField-fieldGroup-label,
    .form-has-error .ms-TextField-fieldGroup-hint {
        color: #d9534f;
    }
    .form-has-error .ms-TextField-suffix,
    .form-has-error .ms-TextField-suffix::after {
        background: #d9534f;
    }
    .form-is-success .ms-TextField-fieldGroup-label.ms-TextField-fieldGroup-label,
    .form-is-success .ms-TextField-fieldGroup-hint {
        color: #259337;
    }
    .form-is-success .ms-TextField-suffix::after {
        background: #259337;
    }
    input.ms-TextField-field:not(:placeholder-shown),
    textarea.ms-TextField-field:not(:placeholder-shown) {
        opacity: 1;
    }
    input.ms-TextField-field:not(:placeholder-shown)~.ms-TextField-fieldGroup-label,
    textarea.ms-TextField-field:not(:placeholder-shown)~.ms-TextField-fieldGroup-label {
        transform: translateY(-100%) translateY(-0.5em) translateY(-2px) scale(0.9);
        cursor: pointer;
        pointer-events: auto;
    }
    textarea.ms-TextField-field {
        height: auto;
        min-height: 3rem;
    }
}

.field.bluring:not(.no-material) .label {
    top: 1.7rem !important;
    right: 1.3rem !important;
    transition: 0.2s cubic-bezier(0.1, 0.2, 0.3, 1) all !important;
    height: auto !important;
    padding: 0 0.125rem !important;
    * {
      //  font-size: 1.7rem !important;
        line-height: 1.5rem !important;
    }
}  

hr {
    margin: 0.5rem 0 !important;
}

.field.focused:not(.no-material) .label,
.field.has-value:not(.no-material) .label {
    top: 0.5rem;
    right: 0.5rem;
    transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1) all;
    background: #fff;
    line-height: 1rem;
    z-index: 1;
    height: 20px;
    padding: 2px 0.5rem;
    * {
        font-size: 1rem;
    }
}

.field.focused:not(.no-material) .label {
    color: #2098D9 !important;
}

.mui-right-label {
    left: 2px !important;
    right: 2px !important;
    text-align: right;
    transform-origin: top right !important;
    max-width: auto !important;
}

.field.gray-color label {
    color: rgba(0, 0, 0, 0.54) !important;
    font-weight: normal !important;
}

.panel-content {
    padding: 10px 5px;
}

.check-field {
    display: flex;
    flex-direction: row;
    .label {
        flex: 1;
        position: relative;
        span {
            position: absolute;
            width: 100%;
            top: 50%;
            height: 30px;
            overflow: hidden;
            margin-top: -15px;
            text-align: right;
        }
    }
    .control {
        width: 40px;
        max-width: 40px;
    }
}

.MuiSelect-select~svg {
    right: auto;
    left: 0;
}

.MuiSelect-selectMenu {
    text-align: right !important;
    padding-right: 0 !important;
    padding-left: 32px;
}

.MuiMenu-paper {
    direction: rtl !important;
    text-align: right !important;
}

.ms-DetailsRow-cell {
    .MuiIconButton-root {
        height: 24px;
        width: 24px;
    }
    .MuiFormControlLabel-root {
        margin: 0 !important;
    }
}

.ms-DetailsHeader {
    padding: 6px 0;
    background: rgb(74, 171, 213) !important;
    min-height: 5.4rem;
    .ms-DetailsHeader-cell {
        display: inline-flex;
        align-items: center;
        min-height: 100%;
        align-content: center;
        >span {
            display: flex;
            align-items: center;
            font-size: 2rem !important;
        }
    }
    * {
        background: rgb(74, 171, 213) !important;
        color: white !important;
    }
}

.title {
    font-weight: 100 !important;
}

.ms-DetailsRow-cell {
    color: #000 !important;
    min-height: 5.4rem !important;
    font-size: 1.8rem !important;
}

.MuiTab-label {
    font-size: 1.7rem !important;
}

.ms-List-cell {
    &:hover .ms-Check,
    .is-checked.ms-Check {
        visibility: visible;
    }
    .ms-Check {
        visibility: hidden;
    }
    .ms-Check-circle {
        font-size: 19px !important;
    }
    &:nth-child(odd) {
        div,
        td {
            background: rgb(218, 218, 218);
        }
    }
    &:nth-child(even) {
        div,
        td {
            background: rgb(241, 241, 241);
        }
    }
    .ms-DetailsRow-check {
        padding: 0 7px;
    }
}

.ms-DetailsList {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

.MuiPaper-root {
    direction: rtl;
    h2 {
        font-size: 2rem;
    }
}

.MuiModal-root {
    footer {
        display: flex;
        justify-content: flex-end;
    }
}

.button-icon-ux {
    position: relative;
    i {
        position: absolute;
        left: 10px;
        font-weight: bolder;
    }
}

.MuiGridListTile-tile {
    .MuiPaper-root {
        overflow: hidden;
    }
}

.MuiPaper-elevation2 {
    border-radius: 0.7rem;
    box-shadow: none !important;
}

.medium-fields {
    .field-accessor {
        min-width: 18.21rem;
    }
    .date-picker {
        min-width: 18.21rem !important;
        max-width: 18.21rem !important;
    }
}

.filter-panel .medium-fields {
    .field-accessor {
        min-width: 15.21rem;
    }
    .date-picker {
        min-width: 15.21rem !important;
        max-width: 15.21rem !important;
    }
}

.field-accessor {
    * {
        font-size: 1.71rem;
    }
    input {
        font-size: 1.71rem !important;
    }
}

.single-view {
    .MuiPaper-root {
        padding: 0;
    }
}

.pagination-previous,
.pagination-next,
.pagination-link,
.pagination-ellipsis {
    font-size: 1.71rem;
}

.MuiMenuItem-root,
li.MuiButtonBase-root,
.MuiTypography-body1,
.label,
.center-text {
    font-size: 1.71rem !important;
}

.ux-modal {
    .ux-button,
    .ux-button:hover {
        margin: 0 0.5rem;
        border: 1px solid #939393;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20), 0 2px 4px 0 rgba(0, 0, 0, 0.20) inset;
        border-radius: 4px;
        min-width: 13rem;
        max-width: 13rem;
        min-height: 3.92rem;
    }
    .ux-button.primary,
    .ux-button.primary:hover {
        background: #1492D5;
        color: #fff;
    }
}

.MuiOutlinedInput-notchedOutline,
    {
    border-color: rgba(0, 0, 0, 0.12);
}

.MuiOutlinedInput-input {
    padding: 1.2rem 1.2rem 7px !important;
    line-height: 2.75rem !important;
    min-height: 2.75rem !important;
}

.MuiOutlinedInput-root {
    min-height: 4.5rem !important;
}

.filter-panel,
.single-view {
    .MuiPaper-root {
        padding: 5px 4rem;
    }
}

.content:not(:last-child) {
    margin-bottom: 0;
}

.data-lookup-modal .MuiDialogTitle-root {
    padding-bottom: 0 !important;
}

.large-textarea {
    textarea {
        min-height: 400px !important;
    }
}
.custom-actions{
    .MuiButton-root:hover{
        background: transparent !important;
    }
}