@font-face {
    font-family: Yekan;
    src: url('/assets/fonts/Yekan.eot');
    src: url('/assets/fonts/Yekan.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/Yekan.ttf') format('truetype');
    src: url('/assets/fonts/Yekan.woff') format('woff');
}

#root,.title,.ms-DetailsRow-cell,td,td *,.swal2-content {
    font-family: Yekan;
}
.MuiInput-input,.MuiInputBase-input{
    font-family: Yekan !important;
}
