.tree-list {
    overflow-y: scroll;
    width: 100%;
    font-size: 1.71rem;
    li {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }
    li>.node {
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    li.selected>.node {
        background: #04a0dc;
        color: white;
        text-shadow: 0 0 1px #444;
    }
    .fa {
        cursor: pointer;
    }
    .choice-flag {
        display: none;
    }
    .node:hover .choice-flag {
        display: inline-block;
    }
    .node>span {
        max-height: 25px !important;
    }
    .choices {
        display: none;
        padding: 2px 20px;
    }
    .expand-icon {
        min-width: 32px;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: flex-end;
        padding: 0 7px;
        border-radius: 100%;
    }
    li.leaf .expand-icon {
        visibility: hidden;
    }
    .subitems {
        padding: 0 20px;
        width: 100%;
    }
    .expand-icon i {
        display: none;
    }
    li.expanded {
        ul.subitems {
            display: block;
        }
    }
    .expand-icon.collapsed .fa-chevron-left {
        display: inline-block;
    }
    li.collapsed {
        ul.subitems {
            display: none;
        }
    }
    .expand-icon.expanded .fa-chevron-down {
        display: inline-block;
    }
    .type .type-flag {
        display: none;
    }
    .fa-square {
        color: #777;
    }
    .fa-check-square {
        color: rgb(59, 131, 59);
    }
    .fa-times-rectangle {
        color: rgb(199, 81, 81);
    }
    .fa-dot-circle-o {
        color: rgb(40, 150, 150);
    }
    .type0>.type-flag0 {
        display: inline-block !important;
    }
    .type1>.type-flag1 {
        display: inline-block !important;
    }
    .type2>.type-flag2 {
        display: inline-block !important;
    }
    .type3>.type-flag3 {
        display: inline-block !important;
    }
    .MuiIconButton-root {
        width: 30px;
    }
    .MuiCheckbox-colorSecondary.MuiCheckbox-checked{
        color:rgb(240, 41, 41);

    }
}

.data-items {
    .tree-list {
        flex: 1;
        .choices {
            display: none;
        }
    }
}