.medium-fields {
    &.frame {
        display: flex;
        flex-wrap: wrap;
    }
    .panel-content {
        display: flex;
        flex-wrap: wrap;
    }
    .field-accessor {
        min-width: 18.14rem;
        max-width: 18.14rem;
        margin: 0 1.7rem;
        float: right;
    }
}

.half-column-fields {
    .panel-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .field-accessor {
        min-width: 49%;
        max-width: 49%;
        display: flex;
        justify-content: center;
    }
}

.full-width-fields {
    .panel-content {
        display: flex;
        flex-wrap: wrap;
    }
    .field-accessor {
        min-width: 100%;
        float: right;
    }
    button {
        margin: 0 0.5rem;
    }
}

.flip-container {
    perspective: 1000px;
}

/* flip the pane when hovered */

.flip-container.applied .flipper {
    transform: rotateY(180deg);
}

.flip-container,
.back,
.front {
    width: 100%;
}

.flip-container {
    .flipper {
        transition: 0.6s;
        transform-style: preserve-3d;
        position: relative;
    }
    .front,
    .back {
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }
    .front {
        z-index: 2;
        /* for firefox 31 */
        transform: rotateY(0deg);
    }
    .back {
        transform: rotateY(180deg);
    }
}

.activate-focused-only {
    visibility: hidden;
}

.focused .activate-focused-only {
    visibility: visible;
}
 
footer.is-centered {
    display: flex;
    justify-content: center;
}

.ltr {
    direction: ltr;
}

.invalid input {
    color: red !important;
}

break {
    flex-basis: 100%;
    width: 0px;
    height: 0px;
    overflow: hidden;
}

.zIndexOneMillon {
    z-index: 1000000 !important;
}

.center-text {
    display: flex;
    justify-content: center;
    align-content: center;
}

hr {
    width: 100%;
    min-width: 100%;
}

.message-dialog {
    padding: 6px 4px;
    &.is-fail {
        color: red;
    }
}

.overflowY-hidden {
    overflow-y: hidden !important;
}

.flex-center,
.flex-full-center {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.flex-full-center {
    height: 100%;
}

.image-128 {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    svg {
        width: 128px;
    }
}

.large-text {
    font-size: 32px !important;
}

.content-no-border {
    * {
        border: none !important;
    }
    .caret-down-wrapper {
        visibility: hidden;
    }
    .MuiInput-underline:after {
        visibility: hidden;
    }
    .MuiInput-underline:before {
        visibility: hidden;
    }
    a {
        align-content: center;
        align-items: center;
        display: flex;
    }
}

.dashboard-widget {
    .adv-button .i18n {
        font-size: 1.3rem;
    }
}

.buttons-as-tab-style {
    display: flex;
    .adv-button {
        flex: 1;
        display: flex;
        justify-content: center;
        justify-items: center;
        &.is-active {
            border-bottom: #2196f3 2px solid;
        }
    }
}

.row {
    width: 100%;
}

.tableBodyScroll {
    empty-cells: show;
    th {
        vertical-align: middle;
        padding: 0 1rem;
    }
    tbody {
        display: block;
        overflow-y: scroll;
    }
    thead,
    tbody tr {
        display: table;
        width: 100%;
    }
}

@mixin fade-transition($element) {
    transition: $element 0.15s ease-in-out;
}

.shine-me {
    /*  styling */
    position: relative;
    /*  centering */
    overflow: hidden;
    .shine-me-child {
        z-index: 100000;
        /*   positioning */
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        background: white;
        /*  forming the shine element
        play around with the width, skew and gradient to get different effects
      */
        width: 15%;
        height: 100%;
        transform: skew(-10deg, 0deg);
        /*  animating it  */
        animation: move 2s;
        animation-iteration-count: infinite;
        animation-delay: 1s;
    }
}

@keyframes move {
    0% {
        left: 0;
        opacity: 1.0;
    }
    48% {
        left: 40%;
        opacity: 0.5;
    }
    80% {
        opacity: 0.7;
    }
    100% {
        left: 82%
    }
}

.body.swal2-height-auto {
    height: 100% !important;
    min-height: 100% !important;
}

.toggle-up {
    animation-name: toggle-up;
    animation-delay: 0.25s;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
}
.center-content{
    display: flex;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    
}
.toggle-down {
    animation-name: toggle-down;
    animation-delay: 0.25s;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
}

/*animations*/

@keyframes toggle-up {
    0% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes toggle-down {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-180deg);
    }
}
