// The main container element
$yellow: rgb(248, 159, 0);
$cyan: rgb(0, 172, 157);
$grey: rgb(51, 51, 51);
$black: rgb(38, 38, 38);
$base: rgb(255, 255, 255);
$lightGrey: rgb(235, 235, 235);
$BASE_FONT_SIZE: 16px;
$breakpointMega: 1600px;
$breakpointLarge: 990px;
$breakpointMed: 767px;
 
 
//The content within the collaspable area
.Collapsible__contentInner {
    background: rgb(52, 53, 73) !important;
    overflow:visible;
    box-shadow: inset 0 3px 3px -3px black;
    padding: 2px 0px;
    margin:2px;
      border-top: 0;
    p {
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

//The link which when clicked opens the collapsable area
.Collapsible__trigger {
    cursor: pointer;
    display: block;
    font-weight: 400;
    text-decoration: none;
    color: $grey;
    position: relative;
    padding: 10px;
    background: rgb(52, 54, 79);
    color: white;
    &:after {
        font-family: 'FontAwesome';
        content: '\f107';
        position: absolute;
        left: 10px;
        top: 10px;
        display: block;
        transition: transform 300ms;
    }
    &.is-open {
        background: rgb(72, 74, 105);
        &:after {
            transform: rotateZ(180deg);
        }
    }
    &.is-disabled {
        opacity: 0.5;
        background-color: grey;
    }
}

.CustomTriggerCSS {
    background-color: lightcoral;
    transition: background-color 200ms ease;
}

.CustomTriggerCSS--open {
    background-color: darkslateblue;
}

.Collapsible__custom-sibling {
    padding: 5px;
    font-size: 12px;
    background-color: #CBB700;
    color: black;
}