.single-view {
    footer.buttons {
        justify-content: flex-start;
        flex-direction: row-reverse;
        button {
            margin: 2px 5px;
            clear: both !important;
            font-size: 12px;
            padding-top: 7px;
            padding-bottom: 7px;
            max-width: 200px;
            min-width: 200px;
        }
    }
    .singleview-back-btn {
        background: #fff;
        min-width: 150px;
    }
}

.list-view {
    header.navigator {
        display: flex;
        position: relative;
        min-height: 30px;
    }
    .search-field {
        justify-self: flex-end;
        position: absolute;
        top: 2px;
        left: 10px;
        svg {
            position: absolute;
            left: 0px;
            top: -5px;
            width: 32px !important;
            height: 32px !important;
        }
    }
    footer.buttons {
        margin-top: 5px;
        justify-content: flex-end;
        button {
            max-width: 150px;
            min-width: 150px;
            margin: 2px 5px;
        }
        .is-link {
            background: none;
            color: #000;
            max-width: 24px;
            min-width: 24px;
            float: left;
        }
    }
}

.list-view-header {
    display: flex;
    flex-wrap: wrap;
    .insert-btn {
        max-width: 140px;
        height: 140px;
        margin-right: 20px;
        box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
        .flag {
            position: absolute;
            right: 35px;
            top: 15px;
            font-size: 27px;
            color: black;
            font-weight: bolder;
        }
        .content {
            i {
                font-size: 60px;
                color: white !important;
            }
        }
        .add-text {
            margin: 5px 2px;
        }
    }
    .buttons {
        width: 100%;
        margin: 25px 2px;
        justify-content: flex-end;
        align-items: flex-start;
        min-height: 60px;
        button {
            box-shadow: 1px 1px rgba(0, 0, 0, .3);
            min-height: 48px;
            background: #fff;
            border: rgb(72, 74, 105) 2px solid;
            color: rgb(72, 74, 105);
            i {
                font-size: 30px !important;
            }
        }
    }
    .filter-panel {
        flex: 1;
    }
}