$side-width:280;
body,
html {
    background: rgb(222, 233, 238);
}

main.main-container {
    text-align: right;
    position: absolute;
    right: ($side-width+70)*1px;
    left: 50px;
}

.version-container {
    label {
        margin: 2px 20px;
    }
}

.main-content {
    padding: 4px 10px;
    * {
        font-size: 16px !important;
    }
    footer {
        padding: 10px 2px;
    }
    .panel {
        margin: 10px 2px;
        .panel-heading {
            background: #fff;
            border: none !important;
            position: relative;
            min-height: 40px;
            .temp {
                position: absolute;
                width: 100%;
                left: 0;
                right: 0;
                background: rgb(151, 151, 151);
                height: 1px;
                bottom: 4px;
            }
            .title {
                position: absolute;
                background: #fff;
                bottom: 4px;
                right: 0;
                padding: 1px 7px;
                .icon {
                    display: none;
                }
            }
        }
        .panel-content {
            border: none !important;
        }
    }
}

.ms-Button--action {
    background: #fff !important;
    border-radius: 7px !important;
}

#root,
.MuiInput-root,
label,
input,
button,
span {
    font-family: Yekan;
}

.master-page {
    display: flex;
    min-height: 100%;
    a,
    .i18n {
        font-size: 16px;
    }
    >footer {
        background: rgb(210, 210, 201);
        position: fixed;
        bottom: 0;
        left: 0;
        height: 40px;
        display: flex;
        align-items: center;
        right: $side-width*1px;
        padding: 0 20px;
        direction: rtl;
        justify-content: flex-end;
        a {
            margin: 0 10px;
            color: #333;
        }
    }
    .router {
        min-height: 48px;
        display: flex;
        a,
        .icon {
            padding: 15px 15px;
        }
        a {
            display: block;
            width: 100%;
            font-size: 15px;
        }
    }
    aside {
        header {
            margin-bottom: 40px;
            .user-info {
                display: flex;
                justify-items: center;
                flex-direction: row-reverse;
                .icon {
                    width: auto !important;
                    margin: 0 5px;
                }
            }
            i.icon {
                width: 100%;
                font-size: 30px;
            }
            button span {
                display: flex;
                flex-direction: column;
            }
            .column {
                align-content: center;
                align-items: center;
                justify-content: center;
                display: inline-flex;
            }
            .logo {
                display: flex;
                justify-content: center;
                * {
                    font-size: 30px !important;
                }
                span {
                    margin: 2px;
                }
                .start {
                    color: white !important;
                }
                .ng {
                    color: rgb(4, 140, 212) !important;
                }
            }
        }
        min-width: ($side-width)*1px;
        max-width: ($side-width)*1px;
        background: rgb(72, 74, 105);
        .triangle {
            display: none;
        }
        * {
            color: #fff !important;
        }
        .icon {
            font-size: 20px;
        }
        .router {
            position: relative;
            font-family: 'Yekan' !important;
        }
        .router.active:active,
        .router.active:hover {
            background: rgb(4, 160, 220) !important;
        }
        .router.active {
            background: rgb(4, 160, 220) !important;
            .triangle {
                display: inline-block;
                position: absolute;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 24px 24px 28px 0;
                border-color: transparent rgb(4, 160, 220) transparent transparent;
                left: -24px;
            }
        }
    }
}

.app-copyright {
    order: -100;
    display: flex;
    flex: 10;
}