.medium-fields {
    .panel-content {
        display: flex;
        flex-wrap: wrap;
    }
    .field-accessor {
        min-width: 220px;
        float: right;
    }
}

.half-column-fields {
    .panel-content {
        display: flex;
        flex-wrap: wrap;
    }
    .field-accessor {
        min-width: 49%;
        float: right;
    }
}

.full-width-fields {
    .panel-content {
        display: flex;
        flex-wrap: wrap;
    }
    .field-accessor {
        min-width: 100%;
        float: right;
    }
}

.flip-container {
    perspective: 1000px;
}

/* flip the pane when hovered */

.flip-container.applied .flipper {
    transform: rotateY(180deg);
}
   
.flip-container, 
.back,
.front {
    width: 100%;
     
}

.flip-container {
    .flipper {
        transition: 0.6s;
        transform-style: preserve-3d;
        position: relative;
    }
    .front,
    .back {
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }
    .front {
        z-index: 2;
        /* for firefox 31 */
        transform: rotateY(0deg);
    }
    .back {
        transform: rotateY(180deg);
      
    }
}
.activate-focused-only{
    visibility: hidden; 
}
.focused .activate-focused-only{
    visibility: visible; 
}

footer.is-centered{
    display: flex;
    justify-content: center;
}