.medium-fields {
     
    .panel-content {
        display: flex;
        flex-wrap: wrap;
    }
    .field-accessor {
        min-width: 220px;
        float: right;
    }
}
 
.half-column-fields {
    .panel-content {
        display: flex;
        flex-wrap: wrap;
    }
    .field-accessor {
        min-width: 50%;
        float: right;
    }
}
.full-width-fields {
    .panel-content {
        display: flex;
        flex-wrap: wrap;
    }
    .field-accessor {
        min-width: 100%;
        float: right;
    }
}

.mid-fixed-width {
    max-width: 200px;
    min-width: 200px;
}