.json-inspector__leaf_root {
    max-height: 300px;
    min-height: 300px;
    overflow: scroll;
    overflow-x: hidden;
    width: 100%;
}

.json-inspector__leaf_root.json-inspector__leaf {
    padding-left: 0;
}

.json-inspector,
.json-inspector__selection {
    font: 14px/1.4 Consolas, monospace;
    text-align: left;
    direction: ltr;
}

.json-inspector__leaf_root>.json-inspector__line>.json-inspector__key {
    display: none;
}

.json-inspector__leaf {
    padding-left: 10px;
}

.json-inspector__line {
    display: block;
    position: relative;
    cursor: default;
}

.json-inspector__line:after {
    content: '';
    position: absolute;
    top: 0;
    left: -200px;
    right: -50px;
    bottom: 0;
    z-index: -1;
    pointer-events: none;
}

.json-inspector__line:hover:after {
    background: rgba(0, 0, 0, 0.06);
}

.json-inspector__leaf_composite>.json-inspector__line {
    cursor: pointer;
}

.json-inspector__radio,
.json-inspector__flatpath {
    display: none;
}

.json-inspector__value {
    margin-left: 5px;
}

.json-inspector__search {
    min-width: 300px;
    width: 100%;
    margin: 0 10px 10px 0;
    padding: 2px;
}

.json-inspector__key {
    color: #505050;
}

.json-inspector__value_helper,
.json-inspector__value_null,
.json-inspector__not-found {
    color: #b0b0b0;
}

.json-inspector__value_string {
    color: #798953;
}

.json-inspector__value_boolean {
    color: #75b5aa;
}

.json-inspector__value_number {
    color: #d28445;
}

.json-inspector__hl {
    background: #ff0;
    box-shadow: 0 -1px 0 2px #ff0;
    border-radius: 2px;
}

.json-inspector__show-original {
    display: inline-block;
    padding: 0 6px;
    color: #666;
    cursor: pointer;
}

.json-inspector__show-original:hover {
    color: #111;
}

.json-inspector__show-original:before {
    content: '⥂';
}

.json-inspector__show-original:hover:after {
    content: 'expand'
}

section.rest-confrim {
    min-width: 500px;
    span,
    i,
    input,
    div {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    }
    .title{
        margin-bottom:6px;
        display: flex;
        align-items: center;
        padding:7px 0;
    }
    .fa{
        font-family: FontAwesome !important;
    }
    input,
    span {
        font-family: Tahoma !important;
    }
    .fa {
        margin: 0px 5px;
    }
    .fa-exclamation-triangle {
        color: orange;
        text-shadow: 0 0 2px #666;
    }
    input[type=text] {
        background: transparent;
    }
    hr {
        margin: 5px 0px;
    }
    .columns {
        margin: 0 !important;
    }
    .http-method {
        min-height: 34px;
        padding: 0 4px;
        align-content: center;
        align-items: center;
        border-radius: 5px;
        span.verb {
            box-shadow: inset 0px 0 2px #111;
            min-width: 100px;
            font-size: 80%;
            color: #fff;
            font-weight: bold;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            min-height: 25px;
            align-items: center;
        }
        .column {
            padding: 0;
        }
        input[type=text] {
            background: transparent;
        }
    }
    .http-method.post {
        border: 1px solid rgba(73, 204, 144, 1);
        background: rgba(73, 204, 144, 0.2);
        span.verb {
            background: rgba(73, 204, 144, 1);
        }
    }
    .http-method.put {
        border: 1px solid rgba(252, 161, 48, 1);
        background: rgba(252, 161, 48, 0.2);
        span.verb {
            background: rgba(252, 161, 48, 1);
        }
    }
    .http-method.put {
        border: 1px solid rgba(252, 161, 48, 1);
        background: rgba(252, 161, 48, 0.2);
        span.verb {
            background: rgba(252, 161, 48, 1);
        }
    }
    .http-method.get {
        border: 1px solid rgba(97, 175, 254, 1);
        background: rgba(97, 175, 254, 0.2);
        span.verb {
            background: rgba(97, 175, 254, 1);
        }
    }
    .http-method.delete {
        border: 1px solid rgba(249, 62, 62, 1);
        background: rgba(249, 62, 62, 0.2);
        span.verb {
            background: rgba(249, 62, 62, 1);
        }
    }
    .server-error {
        background: #222;
        color: white;
        padding: 8px;
    }
    footer {
        display: flex;
        flex-direction: column;
        .secondary-actions {
            display: flex;
            justify-content: flex-end;
        }
    }
    .title {
        justify-content: center;
        display: flex;
    }
    .key-value {
        background: #eee;
        box-shadow: inset 0px 0px 2px #555;
        margin: 2px 0;
        padding: 5px;
        width: 100%;
        border-radius: 5px;
    }
}